# release
release/

# CoolQAPI
CoolQAPI/config.yml
CoolQAPI/__pycache__
CoolQAPI/utils/__pycache__
CoolQAPI/CoolQAPI_update

# QQBridge
QQBridge/__pycache__
QQBridge/.idea
QQBridge/config.yml
QQBridge/logs
